<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('PIN') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: settings.plugins.ledstrip.pin">
        </div>
    </div>
</form>
